In [1]:
import easyocr

In [12]:
image_path = "C:/Users/Monisha User/Desktop/guvi-project/bixcardz/1.png"

reader = easyocr.Reader(['en'])  

res = reader.readtext(image_path )

result=[]
for detection in res:
   result.append(detection[1])

Neither CUDA nor MPS are available - defaulting to CPU. Note: This module is much faster with a GPU.

detection Selva
res ['Selva']
detection DATA MANAGER
res ['Selva', 'DATA MANAGER']
detection +123-456-7890
res ['Selva', 'DATA MANAGER', '+123-456-7890']
detection +123-456-7891
res ['Selva', 'DATA MANAGER', '+123-456-7890', '+123-456-7891']
detection WWW XYZI.com
res ['Selva', 'DATA MANAGER', '+123-456-7890', '+123-456-7891', 'WWW XYZI.com']
detection hello@XYZ1.com
res ['Selva', 'DATA MANAGER', '+123-456-7890', '+123-456-7891', 'WWW XYZI.com', 'hello@XYZ1.com']
detection 123 ABC St , Chennai;
res ['Selva', 'DATA MANAGER', '+123-456-7890', '+123-456-7891', 'WWW XYZI.com', 'hello@XYZ1.com', '123 ABC St , Chennai;']
detection selva
res ['Selva', 'DATA MANAGER', '+123-456-7890', '+123-456-7891', 'WWW XYZI.com', 'hello@XYZ1.com', '123 ABC St , Chennai;', 'selva']
detection TamilNadu 600113
res ['Selva', 'DATA MANAGER', '+123-456-7890', '+123-456-7891', 'WWW XYZI.com', 'hello@XYZ1.com', '123 ABC St , Chennai;', 'selva', 'TamilNadu 600113']
detection digitals
res ['Selva', 'DATA MANAGER', '+123-456-7890', '+123-456-7891', 'WWW XYZI.com', 'hello@XYZ1.com', '123 ABC St , Chennai;', 'selva', 'TamilNadu 600113', 'digitals']

In [20]:
data = {
        "Company_name": [],
        "Card_holder": [],
        "Designation": [],
        "Mobile_number": [],
        "Email": [],
        "Website": [],
        "Area": [],
        "City": [],
        "State": [],
        "Pin_code": [] }

In [13]:
import re

In [21]:


# funtion define
def get_data(res):
    city = ""  # Initialize the city variable
    for ind, i in enumerate(res):
        # To get WEBSITE_URL
        if "www " in i.lower() or "www." in i.lower():
            data["Website"].append(i)
        elif "WWW" in i:
            data["Website"].append(res[ind-1] + "." + res[ind])

        # To get EMAIL ID
        elif "@" in i:
            data["Email"].append(i)

        # To get MOBILE NUMBER
        elif "-" in i:
            data["Mobile_number"].append(i)
            if len(data["Mobile_number"]) == 2:
                data["Mobile_number"] = " & ".join(data["Mobile_number"])

        # To get COMPANY NAME
        elif ind == len(res) - 1:
            data["Company_name"].append(i)

        # To get CARD HOLDER NAME
        elif ind == 0:
            data["Card_holder"].append(i)

        # To get DESIGNATION
        elif ind == 1:
            data["Designation"].append(i)

        # To get AREA
        if re.findall("^[0-9].+, [a-zA-Z]+", i):
            data["Area"].append(i.split(",")[0])
        elif re.findall("[0-9] [a-zA-Z]+", i):
            data["Area"].append(i)

        # To get CITY NAME
        match1 = re.findall(".+St , ([a-zA-Z]+).+", i)
        match2 = re.findall(".+St,, ([a-zA-Z]+).+", i)
        match3 = re.findall("^[E].*", i)
        if match1:
            city = match1[0]  # Assign the matched city value
        elif match2:
            city = match2[0]  # Assign the matched city value
        elif match3:
            city = match3[0]  # Assign the matched city value

        # To get STATE
        state_match = re.findall("[a-zA-Z]{9} +[0-9]", i)
        if state_match:
            data["State"].append(i[:9])
        elif re.findall("^[0-9].+, ([a-zA-Z]+);", i):
            data["State"].append(i.split()[-1])
        if len(data["State"]) == 2:
            data["State"].pop(0)

        # To get PINCODE
        if len(i) >= 6 and i.isdigit():
            data["Pin_code"].append(i)
        elif re.findall("[a-zA-Z]{9} +[0-9]", i):
            data["Pin_code"].append(i[10:])

    data["City"].append(city)

In [22]:

get_data(result)

In [23]:
data

{'Company_name': ['digitals'],
 'Card_holder': ['Selva'],
 'Designation': ['DATA MANAGER'],
 'Mobile_number': '+123-456-7890 & +123-456-7891',
 'Email': ['hello@XYZ1.com'],
 'Website': ['WWW XYZI.com'],
 'Area': ['123 ABC St '],
 'City': ['Chennai'],
 'State': ['TamilNadu'],
 'Pin_code': ['600113']}

In [26]:
import pandas as pd

In [27]:
data_df = pd.DataFrame(data)

In [28]:
data_df

,Company_name,Card_holder,Designation,Mobile_number,Email,Website,Area,City,State,Pin_code
0,digitals,Selva,DATA MANAGER,+123-456-7890 & +123-456-7891,hello@XYZ1.com,WWW XYZI.com,123 ABC St,Chennai,TamilNadu,600113